/* Cores Usadas no Documento */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --laranja: #d2872c;
  --cinza: #766f68;
  /* CARDS */
  --gray-darker: #444444;
  --gray-dark: #696969;
  --gray: #999999;
  --gray-light: #cccccc;
  --gray-lighter: #ececec;
}

body {
  /* max-width: 1200px; */
  margin: 0 auto;
  color: black;
  font-family: 'Roboto', sans-serif;
}

/* ---------- Barra de Navegação -------------*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  max-width: 1200px;
}

.logo {
  font-size: 36px;
  font-weight: 600;
  color: var(--laranja);
}
.logo a {
  text-decoration: none;
  margin-right: 20px;
  color: var(--laranja);
}
header .logo .imglogo {
  width: 45px;
  height: 45px;
  margin-left: 30px;
}

.menu-itens {
  font-size: 24px;
  font-weight: 500;
}

.menu-itens a {
  text-decoration: none;
  margin-right: 20px;
  color: var(--cinza);
}
.menu-itens a:hover {
  color: #000000;
  transition: 0.3s all;
}

span {
  color: var(--laranja);
  font-weight: 600;
}
/* ---------- Main -------------*/

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.main .main-text {
  margin-left: 60px;
}
.main .main-text h1 {
  font-size: 58px;
  color: var(--cinza);
  line-height: 55px;
  margin-bottom: 20px;
}
.main .main-text p {
  font-size: 18px;
  width: 400px;
  color: var(--cinza);
}

button {
  margin-top: 30px;
  height: 50px;
  width: 50%;
  background-color: var(--laranja);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0px 20px 50px -17px;
}
button:hover {
  background-color: #bd7a27;
  transition: 0.3s all;
}

.main-img img {
  width: 600px;
  /* margin-right: 60px; */
}

/* ---------- Section 1 -------------*/

.section-1 {
  display: flex;
  justify-content: center;
  background-color: rgb(248, 247, 247);
  margin-top: 100px;
  width: 100vw;
  z-index: -1;
  background-image: url(./img/fundo01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.section-1 div {
  display: inline-block;
  text-align: center;
  width: 800px;
}

.section-1 h2 {
  font-size: 42px;
  color: var(--cinza);
  line-height: 55px;
  margin-bottom: 20px;
}

.section-1 p {
  font-size: 18px;
  color: var(--cinza);
  line-height: 30px;
  margin-bottom: 60px;
}

/* -------------CARDS------------------*/

.container {
  display: flex;
  justify-content: center;
  padding: 40px;
  margin-top: 50px;
}

.square {
  width: 280px;
  height: 500px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 20px 50px #d9dbdf;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 30px;
}

.square:hover {
  -webkit-transform: translate(20px, -10px);
  -ms-transform: translate(10px, -10px);
  transform: translate(10px, -10px);
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.mask {
  clip: rect(0px, 460px, 220px, 0px);
  border-radius: 4px;
  position: absolute;
}

img {
  width: 280px;
}

.h1 {
  margin: auto;
  text-align: left;
  margin-top: 240px;
  padding-left: 30px;
  font-size: 24px;
}
.container .square p {
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  color: var(--gray);
  line-height: 18px;
}

.button-cards {
  background-color: var(--laranja);
  color: white;
  width: 90px;
  padding: 10px 18px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 70px;
  font-size: 12px;
  cursor: pointer;
}

/* ---------- Formulário de Contato -------------*/

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  padding: 40px;
  margin: 50px auto;
}

/* label {
  display: inline-block;
  width: 120px;
  text-align: left;
} */

.form-area {
  width: 600px;
  margin: 0 10px;
}

.text-form {
  width: 800px;
  margin-left: 60px;
  text-align: left;
}

.text-form h1,
.text-form p {
  color: var(--cinza);
  width: 550px;
}

.text-form h1 {
  font-size: 50px;
  line-height: 55px;
}
.text-form p {
  font-size: 18px;
}

.text-form .msg-enviada {
  width: 300px;
  height: 300px;
  margin-left: 100px;
}

input,
textarea {
  width: 400px;
  height: 60px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 20px;
  background: #f3f3f3;
}

input:focus,
textarea:focus {
  border: none;
  outline: 0;
}

textarea {
  height: 200px;
  vertical-align: top;
}
.button-form {
  margin-left: 50px;
  padding-left: 50px;
}
.button-form button {
  font-size: 16px;
}

/* ---------- Media Queries -------------*/

@media (max-width: 850px) {
  header {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .main .main-text {
    margin-left: 0;
    text-align: center;
  }
  .main .main-text h1 {
    font-size: 32px;
    text-align: center;
  }
  .main .main-text p {
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
  }
  .main-img img {
    width: 500px;
    margin-right: 0;
  }
  .section-1 div {
    /* margin: 0 50px; */
    margin: 0 50px;
  }

  .container {
    flex-wrap: wrap;
  }

  .square {
    margin: 20px;
  }

  .form-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 500px;
  }

  .text-form {
    width: 600px;
    margin-bottom: 40px;
    text-align: center;
  }

  .text-form p {
    width: 600px;
    align-items: center;
  }

  .text-form .msg-enviada {
    display: none;
  }

  .form-area {
    width: 370px;
  }

  .button-form {
    margin-left: 20px;
    /* padding-left: 40px; */
    width: 500px;
  }
}
@media (max-width: 500px) {
  header {
    justify-content: center;
  }
  .logo {
    font-size: 28px;
  }

  .menu-itens {
    font-size: 18px;
  }
  .main .main-text h1 {
    font-size: 42px;
  }
  .main .main-text p {
    font-size: 16px;
  }
  .main-img img {
    width: 400px;
    margin-right: 0px;
  }
  .formulario {
    display: inline-block;
  }
  .form-container {
    margin: 0 auto;
    width: 250px;
  }

  form div {
    margin-left: 13%;
  }
  .text-form {
    width: 300px;
  }
  .text-form h1 {
    width: 300px;
    font-size: 48px;
    /* margin-left: -130px; */

    /* line-height: 55px; */
  }
  .text-form p {
    width: 300px;
    align-items: center;
  }

  input,
  textarea {
    width: 350px;
    height: 60px;
    padding: 20px;
  }

  input:focus,
  textarea:focus {
    border: none;
    outline: 0;
  }

  textarea {
    height: 150px;
  }
  .button-form {
    margin-left: 13%;
    /* padding-left: 40px; */
    width: 500px;
  }
}
